#searchbar {
    display: inline;
    margin-right: 0.4em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

#category-btn {
    display: inline-block;
    margin-left: 0.5em;
    padding: 0.4em 0.6em;
    border-radius: 6px;
    border: 1px solid white;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    &:hover {
        cursor: pointer;
        border: 1px solid black;
    }
}

#category-btn:nth-child(even) {
    background: linear-gradient(180deg, #135ecf 0%, #467fe9 100%);
}

#card {
    width: calc((1/4)*100%);
    height: calc((1/4)*100%);
    display: inline-block;
    padding: 1em;
    position: relative;
}

#card_title {
    width: 100%;
}

#content {
    width: 100%;
    position: relative;
}

#cover {
    position: relative;
    width: 60%;
    left: 0;
}

#game_img {
    width: 100%;
}

#game_not_released::after {
    content: "order";
    background-color: red;
    padding: 0.2em;
    position: absolute;
    border-radius: 10px;
    left: 85%;
    top: -2%;
    border: 1px solid black;
}

#game_released::after {
    @extend #game_not_released;
    content: "buy now";
    background-color: green;
    left: 75%;
    width: 30%;
}

#info {
    padding-top: 2em;
    position: absolute;
    right: 10%;
    top: 0%;
}

#icons {
    position: relative;
}

#editIcon {
    position: absolute;
    zoom: 0.6;
    right: 20%;
    bottom: 6em;
}

#deleteIcon {
    position: absolute;
    zoom: 0.5;
    right: 6%;
    bottom: 6.6em;
        &:hover {
            cursor: pointer;
        }
}