#card {
    width: calc((1/3)*100%);
    height: calc((1/3)*100%);
    display: inline-block;
}

#cover {
    width: 60%;
    float: left;
}

#info {
    position: relative;
}

#editIcon {
    width: 2em;
    height: 2em;
    margin-right: 1em;
    // background-color:white;
    // z-index: 10;
    // &:hover {
    //     display: none;
    // }
}

// #editIconMoving {
//     width: 1.4em;
//     height: 1.4em;
//     position: absolute;
//     &:hover {
//         display: block;
//     }
// }

#deleteIcon {
    width: 2em;
    height: 2em;
    bottom: 0;
    position: absolute;
        &:hover {
            cursor: pointer;
        }
}