#search {
    display: inline;
    margin-right: 0.4em;
}

#searchIcon {
    width: 2%;
    margin-right:0.4em;
}

#searchbarInput {
    zoom: 1.2;
    width: 8em;
}

#category-btn {
    display: inline-block;
    margin: 0.4em 0 1.2em 0.5em;
    padding: 0.4em 0.6em;
    border-radius: 6px;
    border: 1px solid white;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    &:hover {
        cursor: pointer;
        border: 1px solid black;
        box-shadow: 0.1em 0.1em rgb(71, 71, 235);
    }
}

#category-btn:nth-child(even) {
    background: linear-gradient(180deg, #135ecf 0%, #467fe9 100%);
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#card {
    width: 28em;
    min-height: 14em;
    display: inline-block;
    margin: 0.6em;
    position: relative;
    background-color: #fff;
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid rgb(160, 159, 159);
    transform: scale(1);
    transition: all 1s ease;
    &:hover {
        transform: scale(1.05);
        transition: all 1s ease;
    }
}

#card_title {
    width: 100%;
    padding-bottom: 0.4em;
}

#content {
    width: 100%;
    position: relative;
}

#cover {
    position: relative;
    width: 60%;
    left: 0;
}

#game_img {
    width: 100%;
}

#game_not_released::after {
    content: "pre-order";
    background-color: red;
    padding: 0.2em;
    position: absolute;
    border-radius: 10px;
    left: 72%;
    top: -2%;
    width: 34%;
    border: 1px solid black;
}

#game_released::after {
    @extend #game_not_released;
    content: "buy now";
    background-color: green;
    left: 75%;
    width: 30%;
}

#info {
    padding-top: 3em;
    position: absolute;
    right: 10%;
    top: 0%;
}

#price {
    font-size: 1.4em;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#genres {
    @extend #price;
    padding-top: 1em;
    font-size: 1em;
}

#icons {
    position: relative;
}

#editIcon {
    position: absolute;
    zoom: 0.6;
    right: 22%;
    bottom: 4em;
}

#deleteIcon {
    position: absolute;
    zoom: 0.5;
    right: 8%;
    bottom: 4.6em;
        &:hover {
            cursor: pointer;
        }
}