/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: rgba(228, 226, 226, 0.62);
}

body, h1, p {
  margin: 0;
}

/* chrome, safari, opera */
::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  margin: 0 8em 0 8em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
  font-size: 2em;
}

a {
  text-decoration: none;
}

a:visited {
  color:blue;
}